albumentations==1.3.0
ipywidgets
opencv-python==4.5.5.64
Pillow==9.1.0
pandas==1.3.4
pycocotools==2.0.4
seaborn==0.11.2
segmentation-models-pytorch==0.2.1
scipy==1.7.3
webcolors==1.11.1
adamp==0.3.0
numpy==1.22.4
timm==0.4.12
tomli==2.0.1
torch==1.13.1
torchvision==0.14.1
wandb==0.13.7
